<header>
  <h1>XLS to YNAB CSV converter</h1>

  <p>
    This tool converts transaction exports in XLS format to a CSV file that can be imported by
    <a href="https://www.ynab.com/" rel="nofollow">YNAB</a>.
  </p>

  <p>
    Currently, only the export created by the
    <a href="https://www.amazon.de/cobrandcard/product/B0CN8XJB15" rel="nofollow">
      Amazon Visa card
    </a>
    offered in Germany and Austria is supported.
  </p>

  <p>The data is only processed within your browser and does not leave your computer.</p>
</header>
<main>
  <div class="file-picker">
    <button type="button" matButton="filled" (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      Pick File
    </button>
    @if (fileName(); as f) {
      <span>{{ f }}</span>
    }
  </div>

  <input type="file" id="file" required #fileInput (change)="onChange()" hidden />

  @if (link(); as lnk) {
    <div class="download-row">
      <a matButton [href]="lnk" download>
        <mat-icon>download</mat-icon>
        Download converted CSV
      </a>
    </div>
  }

  @if (errors(); as err) {
    <div>
      <h2>Errors:</h2>
      <pre>{{ err }}</pre>
    </div>
  }

  @if (transactions(); as t) {
    <h2>Preview</h2>
    <table mat-table [dataSource]="t">
      <mat-text-column [name]="'date'" [headerText]="'Text'" />
      <mat-text-column [name]="'payee'" [headerText]="'Payee'" />
      <mat-text-column [name]="'memo'" [headerText]="'Memo'" [dataAccessor]="getBlankMemo" />
      <mat-text-column [name]="'amount'" [headerText]="'Amount'" />

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let _; columns: tableColumns"></tr>
    </table>
  }
</main>
<footer>
  <p>
    This software is free and open source. You can
    <a href="https://github.com/diesieben07/xls-to-ynab-csv"
      >read the source code and contribute on GitHub</a
    >.
  </p>
</footer>
