header {
  display: flow-root;
  background-color: var(--mat-sys-primary-container);
  padding-block: 3rem;
}

h1 {
  font: var(--mat-sys-display-large);
  text-align: center;
  margin-inline: auto;
  margin-block-start: 0;
}

header p {
  font: var(--mat-sys-body-large);
  max-width: 80ch;
  margin-inline: auto;
  text-wrap: balance;
}

main {
  max-width: 1080px;
  margin-inline: auto;
  padding-block: 3rem;
}

.file-picker {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.download-row {
  margin-block: 1rem;
}

.form-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
