<header>
  <h1>Amazon Visa to YNAB converter</h1>

  <p>
    This tool converts the transaction export of the
    <a href="https://www.amazon.de/cobrandcard/product/B0CN8XJB15" rel="nofollow">Amazon Visa card</a>
    offered in Germany and Austria to a CSV file that can be imported by
    <a href="https://www.ynab.com/" rel="nofollow">YNAB</a>.
  </p>

  <p>
    The data is only processed within your browser and does not leave your computer.
  </p>
</header>

<form (submit)="submit()">
  <div class="form-group">
    <label for="file">File</label>
    <input type="file" id="file" required #fileInput (change)="onChange()">
  </div>
  <div class="submit-row">
    <button type="submit">Process</button>
  </div>

  @if (link(); as lnk) {
    <p><a [href]="lnk" download>Download converted CSV</a></p>
  }

  @if (errors(); as err) {
    <div>
      <h2>Errors:</h2>
      <pre>{{err}}</pre>
    </div>
  }

  @if (transactions(); as t) {
    <table mat-table [dataSource]="t">
      <mat-text-column [name]="'date'" [headerText]="'Text'" />
      <mat-text-column [name]="'payee'" [headerText]="'Payee'" />
      <mat-text-column [name]="'memo'" [headerText]="'Memo'" [dataAccessor]="getBlankMemo" />
      <mat-text-column [name]="'amount'" [headerText]="'Amount'" />

      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let _; columns: tableColumns"></tr>
    </table>
  }

</form>
